$white: #ffffff;
$black: #000000;
$light-blue: #81b3d2;
$blue: rgb(102, 158, 192);
$dark-blue: rgb(84, 150, 189);
$light-black: #333333;
$very-light-grey: #eeeeee;
$light-gray: rgb(178, 178, 178);
$light-gray-2: rgb(242, 242, 242);
$light-gray-3: #e5e5e5;
