$title-size: 18px;
$title-weight: 700;
$title-transform: uppercase;
$text-size: 14px;
$text-weight: 400;
$text-transform: uppercase;

/*Межстрочные расстояния*/
$title-height: 40px;
$text-height: 26px;
