.wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  background-color: white;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
}

@media (min-width: $tablet-up) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-up) {
  .wrapper {
    width: 1200px;
  }
}
