.button {
  box-sizing: border-box;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 16px;
  width: 100%;

  @include standart-header_typograph();
  font-family: inherit;
  font-size: $biggest_txt-size;
  color: $button_txt-color;
  text-decoration: none;
  text-align: center;

  background-color: $button_bg-color;


  &:hover {
    background-color: $button-hover_bg-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $button-down_bg-color;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.button-disabled {
  background-color: #e5e5e5;
}

.button__likes-counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.button-gallery {
  font-family: "PT Sans", "Arial", sans-serif;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

@media (min-width: $tablet-up) {
  .button__likes-counter--road {
    padding-left: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: black;
    letter-spacing: -0.9px;
    margin-right: 7px;
  }
}

