.button-blue {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
  width: 280px;
  height: 58px;
  color: #ffffff;
  margin: 0 auto;
}

.button-close {
  width: 100%;
  padding: 17px 65px;
  font-size: 18px;
}

.rating__button {
  width: 23px;
  height: 21px;
}

.button__send-form {
  width: 280px;
  padding: 17px 30px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #81b3d2;
  color: #ffffff;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button__send-form {
    width: 50%;
  }
}
