.hotel {
  @include no-indents;
  background-color: $white;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  padding-top: 33px;
  padding-bottom: 49px;
  color: $light-black;
}

.hotel__title {
  @include no-indents;
  text-align: center;
  font-size: 21px;
  font-weight: $title-weight;
  line-height: $text-height;
  color: $black;
  margin-bottom: 20px;
}

.hotel__text {
  @include no-indents;
  text-align: center;
  font-size: $text-size;
  font-weight: $text-weight;
  line-height: $text-height;
  color: $light-black;
  margin: 0 25px;
  margin-bottom: 40px;
}

.hotel__search {
  @include mobile-container;
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-size: 21px;
  line-height: $text-height;
  font-weight: bold;
  background-color: $light-blue;
  width: 280px;
  height: 58px;
  color: $white;
}

@media (min-width: $tablet-width) {
  .hotel {
    display: flex;
    flex-direction: column;
  }

  .hotel__title {
    @include no-indents;
    text-align: center;
    font-size: 30px;
    font-weight: $title-weight;
    line-height: $text-height;
    color: $black;
    margin-bottom: 40px;
  }

  .hotel__text {
    @include no-indents;
    width: 434px;
    text-align: center;
    font-size: $text-size;
    font-weight: $text-weight;
    line-height: 24px;
    color: $light-black;
    margin: 0 168px;
    margin-bottom: 50px;
  }

  .hotel__search {
    text-transform: uppercase;
    text-align: center;

    font-size: 21px;
    line-height: $text-height;
    font-weight: bold;
    background-color: $light-blue;
    width: 458px;
    height: 58px;
    color: $white;
  }
}

@media (min-width: $desktop-width) {
  .hotel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .hotel__title {
    @include no-indents;
    text-align: center;
    font-size: 30px;
    font-weight: $title-weight;
    line-height: $text-height;
    color: $black;
    margin-bottom: 40px;
  }

  .hotel__text {
    @include no-indents;
    width: 434px;
    text-align: center;
    font-size: $text-size;
    font-weight: $text-weight;
    line-height: 24px;
    color: $light-black;
    margin: 0 380px;
    margin-bottom: 50px;
  }

  .hotel__search {
    text-transform: uppercase;
    text-align: center;

    font-size: 21px;
    line-height: $text-height;
    font-weight: bold;
    background-color: $light-blue;
    width: 458px;
    height: 58px;
    color: $white;
  }
}
