.impression {
  text-align: center;
}

.impression__title {
  color: $black;
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $text-height;
}

.impression__list {
  list-style: none;
}

.impression__option--style {
  color: $black;
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $text-height;
  text-transform: none;
  text-align: left;
}
