.main-nav {
  width: $mobile-width;
  position: relative;
  color: $white;
  background-color: $light-blue;
  line-height: 40px;
  text-align: center;

  @include mobile-container;
}

.main-nav__list {
  @include no-indents;
  /*display: none;*/
}

.site-list__item {
  margin: 0 auto;
  padding: 20px 0;
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $title-height;
  color: $white;
  background-color: $light-blue;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
    min-height: 58px;
    background-color: $white;
  }

  .main-nav__wrapper {
    width: $tablet-width;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .site-list {
    width: 768px;
    height: 56px;
  }

  .site-list__item {
    flex-basis: 20%;
    font-size: $text-size;
    text-transform: $title-transform;
    font-weight: $title-weight;
    line-height: $text-height;
    color: $light-black;
    background-color: $white;
    list-style: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    width: 1200px;
  }

  .site-list {
    width: 1200px;
    height: 56px;
  }
}
