.name {
  text-align: center;
}

.name__title {
  color: $black;
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $text-height;
}

label {
  color: $light-black;
  font-size: $text-size;
  font-weight: $text-weight;
  line-height: 24px;
}

input {
  color: $black;
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $text-height;
}
