/*.services {
  background: $white;

  @include no-indents;
}

.services__img-house,
.services__img-gift,
.services__img-burger {
  display: none;
}

.services__item {
  margin-left: 70px;
  margin-bottom: 42px;
  margin-top: 37px;
  text-align: left;
}

.services__list {
  @include no-indents;
  list-style: none;
}

.services__title {
  @include no-indents;
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $text-height;
  padding-bottom: 21px;
}

.services__text {
  @include no-indents;
  font-size: $text-size;
  font-weight: $text-weight;
  line-height: 21px;
  color: $light-black;
}

.text-burger {
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .services__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .services__item {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 329px;
  }

  .services__img-house {
    display: block;
    background-image: url("/source/img/icon-house%20-%20large.svg") no-repeat;
    width: 75px;
    height: 72px;
    margin-bottom: 32px;
  }

  .services__img-gift {
    display: block;
    background-image: url("/source/img/icon-gift%20-%20large.svg") no-repeat;
    width: 64px;
    height: 75px;
    margin-bottom: 32px;
  }

  .services__img-burger {
    display: block;
    background-image: url("/source/img/icon-burger%20-%20large.svg") no-repeat;
    width: 77px;
    height: 68px;
    margin-bottom: 32px;
  }

  .item-gift {
    order: 3;
  }

  .services__title {
    @include no-indents;
    font-size: 21px;
    font-weight: $title-weight;
    line-height: $text-height;
    padding-bottom: 34px;
  }

  .text-house {
    padding-left: 49px;
    padding-right: 49px;
    text-align: center;
  }

  .text-gift {
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
  }

  .text-burger {
    padding-left: 49px;
    padding-right: 50px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .services__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .services__item {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 329px;
  }

  .item-gift {
    order: 3;
  }

  .services__title {
    @include no-indents;
    font-size: 21px;
    font-weight: $title-weight;
    line-height: $text-height;
    padding-bottom: 34px;
  }

  .text-house {
    padding-left: 72px;
    padding-right: 74px;
    text-align: center;
  }

  .text-gift {
    padding-left: 92px;
    padding-right: 92px;
    text-align: center;
  }

  .text-burger {
    padding-left: 56px;
    padding-right: 59px;
    text-align: center;
  }
}
*/
