.spots {
  text-align: center;
}

.spots__title {
  color: $black;
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $text-height;
}

.spots__list {
  list-style: none;
}

.item--style {
  color: $black;
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $text-height;
  text-transform: none;
}
